/* geomanist light */

@font-face {
	font-family: 'geomanist';
	src: url('/fonts/Geomanist/geomanist-light-webfont.eot');
	src: url('/fonts/Geomanist/geomanist-light-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Geomanist/geomanist-light-webfont.woff2') format('woff2'),
		 url('/fonts/Geomanist/geomanist-light-webfont.woff') format('woff'),
		 url('/fonts/Geomanist/geomanist-light-webfont.ttf') format('truetype'),
		 url('/fonts/Geomanist/geomanist-light-webfont.svg#geomanistlight') format('svg');
	font-weight: 300;
	font-style: normal;
}

/* geomanist regular */

@font-face {
	font-family: 'geomanist';
	src: url('/fonts/Geomanist/geomanist-regular-webfont.eot');
	src: url('/fonts/Geomanist/geomanist-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Geomanist/geomanist-regular-webfont.woff2') format('woff2'),
		 url('/fonts/Geomanist/geomanist-regular-webfont.woff') format('woff'),
		 url('/fonts/Geomanist/geomanist-regular-webfont.ttf') format('truetype'),
		 url('/fonts/Geomanist/geomanist-regular-webfont.svg#geomanist_regularregular') format('svg');
	font-weight: 400;
	font-style: normal;
}

/* geomanist regular italic */

@font-face {
	font-family: 'geomanist';
	src: url('/fonts/Geomanist/geomanist-regular-italic-webfont.eot');
	src: url('/fonts/Geomanist/geomanist-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Geomanist/geomanist-regular-italic-webfont.woff2') format('woff2'),
		 url('/fonts/Geomanist/geomanist-regular-italic-webfont.woff') format('woff'),
		 url('/fonts/Geomanist/geomanist-regular-italic-webfont.ttf') format('truetype'),
		 url('/fonts/Geomanist/geomanist-regular-italic-webfont.svg#geomanist_regularitalic') format('svg');
	font-weight: 400;
	font-style: italic;
}

/* geomanist book */

@font-face {
	font-family: 'geomanist';
	src: url('/fonts/Geomanist/geomanist-book-webfont.eot');
	src: url('/fonts/Geomanist/geomanist-book-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Geomanist/geomanist-book-webfont.woff2') format('woff2'),
		 url('/fonts/Geomanist/geomanist-book-webfont.woff') format('woff'),
		 url('/fonts/Geomanist/geomanist-book-webfont.ttf') format('truetype'),
		 url('/fonts/Geomanist/geomanist-book-webfont.svg#geomanistbook') format('svg');
	font-weight: 500;
	font-style: normal;
}

/* geomanist medium */

@font-face {
	font-family: 'geomanist';
	src: url('/fonts/Geomanist/geomanist-medium-webfont.eot');
	src: url('/fonts/Geomanist/geomanist-medium-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Geomanist/geomanist-medium-webfont.woff2') format('woff2'),
		 url('/fonts/Geomanist/geomanist-medium-webfont.woff') format('woff'),
		 url('/fonts/Geomanist/geomanist-medium-webfont.ttf') format('truetype'),
		 url('/fonts/Geomanist/geomanist-medium-webfont.svg#geomanistmedium') format('svg');
	font-weight: 600;
	font-style: normal;
}

/* geomanist bold */

@font-face {
	font-family: 'geomanist';
	src: url('/fonts/Geomanist/geomanist-bold-webfont.eot');
	src: url('/fonts/Geomanist/geomanist-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Geomanist/geomanist-bold-webfont.woff2') format('woff2'),
		 url('/fonts/Geomanist/geomanist-bold-webfont.woff') format('woff'),
		 url('/fonts/Geomanist/geomanist-bold-webfont.ttf') format('truetype'),
		 url('/fonts/Geomanist/geomanist-bold-webfont.svg#geomanistbold') format('svg');
	font-weight: 700;
	font-style: normal;
}

/* geomanist bold italic */

@font-face {
	font-family: 'geomanist';
	src: url('/fonts/Geomanist/geomanist-bold-italic-webfont.eot');
	src: url('/fonts/Geomanist/geomanist-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('/fonts/Geomanist/geomanist-bold-italic-webfont.woff2') format('woff2'),
		 url('/fonts/Geomanist/geomanist-bold-italic-webfont.woff') format('woff'),
		 url('/fonts/Geomanist/geomanist-bold-italic-webfont.ttf') format('truetype'),
		 url('/fonts/Geomanist/geomanist-bold-italic-webfont.svg#geomanistbold_italic') format('svg');
	font-weight: 700;
	font-style: italic;
}
